<div>
    <div class="row">
        <div class="col-lg-6">
            <input type="hidden" name="QuestionTypeId" data-bind="value: QuestionTypeId"/>
            <input type="hidden" name="QuestionId" data-bind="value: QuestionId" />
            <label class="control-label" for="QuestionText">Question Text:</label>
            <span class="form-control" data-bind="text: QuestionText"></span>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label" for="GroupNo">Group No.:</label>
                <span class="form-control" data-bind="text: GroupNo"></span>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
         
            <th >Choice Text</th>
            <th >Choice Letter</th>
            <th class="text-center">Correct Choice</th>
        </tr>
        <tbody data-bind="foreach: ChoicesItems">
            <tr>
                <td class="form-group"><span class="form-control input-sm" data-bind="text: ChoiceText"></span></td>
                <td class="form-group"><span class="form-control input-sm" data-bind="text: ChoiceLetter"></span></td>
                <td class="text-center">
                <input readonly="readonly" disabled="disabled" type="checkbox"  data-bind="checked:IsSelected"/>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<p><a class="btn btn-default btn-sm" data-bind="attr: { 'href': '/Questions?productId=' + ProductId() + '&questionTypeId='+QuestionTypeId()}">&laquo; Back to List</a></p>
