
@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create",new { productId =(int)ViewBag.productId }, new { @class = "btn btn-success" })
</p>
@{Html.RenderAction("QuestionsList", new { productId = (int)ViewBag.productId });}