
@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create", new { productId = ViewBag.productId }, new { @class = "btn btn-success", data_modal = "" })
</p>

@{Html.RenderAction("CodeList", new { productId = ViewBag.productId });}




