@using System.Web.Script.Serialization
@model GawayzAdmin.ViewModels.QuestionsViewModel

@{
    ViewBag.Title = "Delete this Sales Order";
}

@{ string data = new JavaScriptSerializer().Serialize(Model);}

@section scripts{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-validate.bootstrap-tooltip.js"></script>

    <script src="~/Scripts/QuestionViewModel.js"></script>
    <script type="text/javascript">
        var QuestionViewModel = new QuestionViewModel(@Html.Raw(data));
        ko.applyBindings(QuestionViewModel);
    </script>
}

@Html.Partial("_DisplayQuestion")

<p><button class="btn btn-danger" data-bind="click: save">Delete</button></p>